.judul {
    display: flex;
    position: fixed;
    align-items: center;
    width: 100%;
    padding: 20px;
    font-family: "Lexend Deca", serif;
    color: #FF777E;
    text-align: center;
    background-color: white;
}

.judul h1 {
    margin-left: 25%;
}

.back{
    display: flex;
    align-items: center;
    margin: 0;
    text-decoration: none;
    color: #172114;
    cursor: pointer;
}

.back:hover p:hover{
    color: #FF777E;
    text-decoration: underline;
}

.back p {
    padding-left: 10px;
}

.detail{
    padding-top: 150px;
    font-family: "Lexend Deca", serif;
    color: #172114;
  background-color: #D8CFBB;
}

.langganan {
    display: flex;
    justify-content: center;
    width: fit-content;
    align-items: center;
    border: 2px solid #172114;
    border-radius: 25px;
    background-color: #ff777e;
    padding: 10px 15px;
  }

  .langganan a {
    text-decoration: none;
    color: #172114;
  }

  .langganan:hover {
    background-color: #689c87;
    cursor: pointer;
    animation: none;
  }

  .text{
    font-weight: bold;
    padding-left: 10px;
    font-family: "Lexend Deca", serif;
    margin: 0px;
  }